stuff/schema-attr.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="user"maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
	  
		<xs:attribute  name="id" type="xs:decimal"/>
        <xs:attribute  name="login" type="xs:string"/>
        <xs:attribute  name="email" type="xs:string"/>
		<xs:element name="history">		
		  <xs:complexType> 		  
			<xs:element name="image" maxOccurs="unbounded">
			  <xs:complexType> 
				<xs:all>
				
				  <xs:attribute  name="name" type="xs:string"/>
				  <xs:attribute  name="source" type="xs:string"/>
				  <xs:attribute  name="preview" type="xs:string"/>
				  
				</xs:all>				
			  </xs:complexType>
			</xs:element> 			
		  </xs:complexType>		
		</xs:element>  
      
	  </xs:sequence>
    </xs:complexType>
  </xs:element>

  </xs:schema>